/* Class Selectors */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: darkblue;
    --text-dark: #333;
    --background-light: #eee;
    --standard-padding: 1rem;
    --nav-padding: 20px;
    --main-width: 840px;
    --aside-width: 20rem;
    --small-img-width: 150px;
    --large-img-width: 200px;
}

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: var(--background-light);
    color: var(--text-dark);
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: var(--nav-padding);
}

h1 {
    color: var(--primary-color);
}

main {
    max-width: var(--main-width);
}

main img {
    width: var(--small-img-width);
    height: auto;
    float: right;
}

aside {
    width: var(--aside-width);
    position: relative;
    margin: var(--standard-padding);
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: var(--standard-padding);
    background-color: var(--background-light);
    color: var(--text-dark);
    text-align: center;
}

aside h2 {
    position: absolute;
    top: -20px;
    left: -20px;
}

aside img {
    width: var(--large-img-width);
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}